body {
    background-color: #FFF;
}

section {
    box-sizing: border-box;
}

.header {
    font-weight: 400;
    font-size: 18px;
    width: 1340px;
    height: 109px;
    margin: 92px 49px 92px 51px;
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-template-areas:
    " . . . . . . . . . . htwo htwo . . . . . . . . . ."
    " . . . . . . . . . . htwo htwo . . . . . . hthree hthree hthree hthree"
    " . . . . . . . . . . htwo htwo . . . . . . hthree hthree hthree hthree"
    " . . . . . . . . . . htwo htwo . . . . . . hthree hthree hthree hthree"
    " . . . . . . . . . . htwo htwo . . . . . . hthree hthree hthree hthree"
    " hone hone hone hone hone hone hone . . . htwo htwo . . . . . . hthree hthree hthree hthree"
    " . . . . . . . . . . htwo htwo . . . . . . hthree hthree hthree hthree"
    " . . . . . . . . . . htwo htwo . . . . . . hthree hthree hthree hthree"
    " . . . . . . . . . . htwo htwo . . . . . . hthree hthree hthree hthree"
    " . . . . . . . . . . htwo htwo . . . . . . hthree hthree hthree hthree"
}

.header__menu {
    grid-area: hone;
}

.header__links-list {
    display: flex;
    gap: 33px;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link_active {
    text-underline-offset: 4px;
}

.header__link {
    text-decoration: none;
}

.header__links-list-item {
    list-style-type: circle;
}

.header__logo {
    grid-area: htwo;
    width: 140px;
    height: auto;
}

address {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 3px;
    font-style: normal;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-underline-offset: 4px;
}

.header__address {
    grid-area: hthree;
}

.cover {
    position: relative;
    inset: 0;
    z-index: 0;
    box-sizing: border-box;
    margin: 0;
    width: 1440px;
    height: 757px;
    color: #FFF;
}

.imgcover {
    width: 1440px;
    height: 757px;
}

.overlay {
    position: absolute;
    opacity: 0.6;
    background: #000;
    inset: 0;
    z-index: 1;
}

.cover__title {
    margin: 165px 50px 5px 50px;
    position: absolute;
    inset: 0;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
    "one one . . . . . . "
    "one one . . . . . . "
    ". . . two two . . ."
    ". . . two two . . ."
    ". . . . . . three three "
    ". . . . . . three three "
    " . . . . . . . ."
    " . . four four four four four four"
}

.aligned-text {
    grid-area: one;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.aligned-text_center {
    grid-area: two;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.aligned-text_right {
    grid-area: three;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.cover__description {
    font-weight: 400;
    text-transform: uppercase;
    grid-area: four;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Raleway;
    font-size: 22px;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
    letter-spacing: 1px;
    gap: 20px;
}

.bet-button {
    background: none;
    color: #FFF;
    border: #FFF solid 1px;
    padding: 12px 32px;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.lots {
    margin-top: 180px;
    margin-bottom: 181px;
    margin-right: 50px;
    margin-left: 50px;
    width: 1340px;
    height: 579px;
}

.lots__heading {
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 27px;
    margin-left: 40px;
}

.lots__card-list {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    margin-bottom: 30px;
}

.lots__card-list-item {
    position: relative;
    inset: 0;
    width: 430px;
    height: 450px;
}

.card {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    z-index: 3;
    padding: 50px 40px;
}

.card__title {
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
}

.card__text {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%; /* 24px */
    width: 350px;
}

.lots__look-more-link {
    margin-left: 40px;
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-underline-offset: 4px;
}

.about {
    margin-bottom: 180px;
    margin-top: 181px;
    margin-right: 50px;
    margin-left: 50px;
    position: relative;
    inset: 0;
    z-index: 3;
    width: 1340px;
    height: 487px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "one two two"
    " . two two"
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    margin-right: 95px;
    margin-left: 95px;
    position: relative;
    inset: 0;
    grid-area: one;
}

.about__logo-image {
    position: absolute;
    inset: 0;
    width: 148px;
    height: 114px;
    margin: 63px 46px;
}

.about__column {
    display: flex;
    height: 388px;
    width: 885px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    grid-area: two;
    margin-top: 100px;
    padding: 0;
    margin-left: 25px;
}

.about__title {
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    inset: 0;
    margin-bottom: 100px;
}

.gap {
    margin-bottom: 25px;
}

.about__text {
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

footer {
    margin-bottom: 90px;
    margin-right: 50px;
    margin-left: 50px;
    width: 1340px;
    height: 97px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.footer__menu-link {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-underline-offset: 4px;
}

.footer__menu-list-item {
    list-style-type: none;
}

.footer__menu-link_active {
    list-style-type: none;
}

.gl {
    text-decoration: none;
}

.footer__social-list {
    width: 240px;
    height: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    gap: 40px;
}

.footer__social-icon {
    max-height: fit-content;
    max-height: fit-content;
}
